

.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15rem;

  overflow: hidden;
}

.login-link {
  color: white;
  background-color: var(--clr-primary);
  padding: 0.5rem 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  font-weight: 400;
  transition: 300ms;
}

.login-link:hover {
  color: var(--clr-primary);
  background-color: var(--clr-primary-light);
  padding: 0.5rem 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  font-weight: 400;
}

.nav-links {
  display: flex;
  height: 100%;
  align-items: center;
}

.navLink {
  margin-inline: 1.5rem;
  color: var(--clr-primary);
  font-size: 2rem;
  font-weight: 300;
}
.nav-left,
.nav-right {
  width: 15%;
  display: flex;
  justify-content: center;
}



.nav-middle {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.nav a {
  text-decoration: none;
  display: flex;
  height: 100%;
  align-items: center;

}

.nav-user-icon {
  width: 3rem;
  height: 3rem;
  color: white;
}

.nav-title {
  font-size: 4rem;
  font-weight: 600;
  color: var(--clr-primary);
  margin: 0;
}




