.member-page-container {
  height: 100svh;
}

.member-page-top {
  width: 100vw;
  height: 100vh;
  background: url("/public/images/home-bg.png");
}

.members-list-header {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  padding-block: 3rem;
}

.members-list-header h1 {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}

.members-list {
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.member-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 15rem;
}

.member {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 20rem;
  margin-block: 2rem;
  transition: 0.2s;
}

.member-info-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.member-type {
  font-weight: bold;
  font-size: 1rem;
  font-style: italic;
  margin-top: 0.5rem;
}

.member-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.member-name li {
  font-size: 1.5rem;
  font-weight: bold;
}

.member-headshot {
  width: 15rem;
  height: 15rem;
}

.member-page-title {
  font-size: 4rem;
  font-weight: bold;
}

.member-page-title-container {
  margin-inline: auto;
  margin-top: 10rem;
  width: 50%;
}

.member-page-title-btn {
  width: 10rem;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  border: 2px solid rgb(27, 27, 86);
  border-radius: 2rem;
  padding-block: 0.5rem;
  color: rgb(27, 27, 86);
  margin-inline: auto;
  background-color: transparent;
  transition: 0.2s;
}

.member-page-title-btn:hover {
  scale: 105%;
  -webkit-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.41);
  background-color: rgb(27, 27, 86);
  color: white;
}

.member-page-title-btn:active {
  scale: 95%;
}

.member-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-page-title-btn-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.members-section {
  width: 100vw;
  background-color: #ebfaff;
}

.member-info-button {
  font-size: 1rem;
  width: 8rem;
  height: 2.5rem;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  color: white;
  background-color: rgb(27, 27, 86);
  transition: 0.2s;
}

.member-info-button:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgb(27, 27, 86);
  color: rgb(27, 27, 86);
  scale: 105%;
}

.member-info-button:active {
  scale: 95%;
}

.member-info-body {
  margin-bottom: 0.5rem;
}
