.member-page-container {
  height: 100svh;
}

.member-page-top {
  width: 100vw;
  height: 100vh;
  background: url("/public/images/home-bg.png");
}

.members-list-header {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  padding-block: 3rem;
}

.members-list-header h1 {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}

.members-list {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.member-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.members-list ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0px 3px 7px 4px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 3px 7px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 3px 7px 4px rgba(0, 0, 0, 0.09);
  border-radius: 5%;
  margin-block: 1rem;
}

.member-info-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.member-type {
  font-weight: bold;
  font-size: 1rem;
  font-style: italic;
}

.member-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.member-name li {
  font-size: 1.5rem;
  font-weight: bold;
}

.member-headshot {
  border-radius: 5%;
  width: 10rem;
  height: 10rem;
}

.member-page-title {
  font-size: 4rem;
  font-weight: bold;
}

.member-page-title-container {
  margin-inline: auto;
  margin-top: 10rem;
  width: 50%;
}

.member-page-title-btn {
  width: 10rem;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  border: 2px solid rgb(27, 27, 86);
  border-radius: 2rem;
  padding-block: 0.5rem;
  color: rgb(27, 27, 86);
  margin-inline: auto;
  background-color: transparent;
  transition: 0.2s;
}

.member-page-title-btn:hover {
  scale: 105%;
  -webkit-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.41);
  background-color: rgb(27, 27, 86);
  color: white;
}

.member-page-title-btn:active {
  scale: 95%;
}

.member-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-page-title-btn-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.members-section {
  width: 100vw;
  background-color: #ebfaff;
}
