.members-header {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.members-header h1 {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}

.members-list {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.member-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.members-list ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0px 3px 7px 4px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 3px 7px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 3px 7px 4px rgba(0, 0, 0, 0.09);
  border-radius: 5%;
  margin-block: 1rem;
}

.member-name {
  display: flex;
  justify-content: center;
}

.member-name li {
  font-size: 1.5rem;
  font-weight: bold;
}

.member-headshot {
  border-radius: 5%;
  width: 10rem;
  height: 10rem;
}
